@media only screen and (min-width: 1024px) {
    #app {
        width: 75%;
        margin: 20px auto;
    }

    #app > img {
        width: 100px;
    }

    .container {
        grid-template-columns: 1fr 1fr;
        padding: 50px;
    }

    .player > div, .monster > div {
        height: 40px;
        border-radius: 8px;
    }

    .player > div > .hp, .monster > div > .hp {
        border-radius: 5px;
    }

    .player > h2, .monster > h2 {
        font-size: 1.4rem;
    }

    .player > p, .monster > p {
        font-size: 1rem;
    }

    .win-condition {
        font-size: 1.2rem;
    }

    .skills > button, .skills > div > button {
        padding: 15px;
        font-size: 1rem;
        border-radius: 5px;
        transition: .3s;
    }

    .skills > div > button:hover, .skills > button:hover {
        transform: translateY(2px);
    }

    .skills > div > button:active, .skills > button:active {
        transform: translateY(0);
        transform: scale(0.95);
    }

    .skills > div > button:disabled {
        transform: translate(0) scale(1);
    }

    .skills > div > button > img {
        user-select: none;
        -webkit-user-drag: none;
        width: 32px;
    }

    .logs > h2 {
        font-size: 1.4rem;
        margin: 5px 0 25px;
    }

    .logs > ul > li {
        padding: 10px 0;
        border-radius: 8px;
        font-size: 1rem;
    }
}