<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600;700;800;900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/media-queries.css">

<div id="app">
    <img src="images/kraken.png">
    <div class="container">
        <div class="player">
            <h2>Jogador</h2>
            <div>
                <div class="hp" :style="playerLifeStyle"></div>
            </div>
            <p>HP: {{ playerLife }} / 100</p>
        </div>
        <div class="monster">
            <h2>Monstro</h2>
            <div>
                <div class="hp" :style="monsterLifeStyle"></div>
            </div>
            <p>HP: {{ monsterLife }} / 100</p>
        </div>
    </div>
    <div v-if="lossMessage || winMessage || surrenderMessage" class="win-condition">
        <span v-if="lossMessage" class="loss">Você perdeu! ☔</span>
        <span v-else-if="winMessage" class="win">Você ganhou! ✨</span>
        <span v-else-if="surrenderMessage" class="surrender">Você desistiu 🏳️</span>
    </div>
    <div class="skills">
        <button @click="startGame" v-if="onGame">Iniciar novo jogo</button>
        <button v-if="tryAgain" @click="playAgain">Jogar novamente</button>
        <div v-else-if="skills">
            <button @click="attack" class="attack" title="Atacar">
                <img src="images/sword.png">
            </button>
            <button @click="specialAttack" class="specialAttack" title="Ataque Especial">
                <img src="images/fire.png">
            </button>
            <button @click="heal" class="heal" :disabled="isDisabled" title="Curar">
                <img src="images/heart.png">
            </button>
            <button @click="surrender" class="surrender" title="Desistir">
                <img src="images/peace.png">
            </button>
        </div>
    </div>
    <div class="logs" v-if="logs != false">
        <h2>Historico de ataques</h2>
        <ul>
            <li v-for="log in logs">{{ log }}</li>
        </ul>
    </div>
</div>

<script src="javascript/vue.js"></script>